 

body {
	margin: 0;
	padding: 0;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;  
	color: #000;
	background-color: #fff;
}

.main-wrap {
	margin: 0 auto;
	max-width: 1200px;
	min-width: 940px;
}

.main-header {
	margin: 0;
	padding: 0;
}

.container {
	margin-left: 130px;
}

a {
	text-decoration: none;
}
/*Общая стилизация шапки*/
.main-navigation {
	font-size: 17px;
	line-height: 17px;
/*	color: #fff;*/
	background-color: #f3f7f8;
}
/*убираем точки в списках шапки*/
.site-navigation,
.user-navigation {
	margin: 0;
	padding: 0;
	list-style: none;
}

/*Стилизация контейнера верхней части меню*/
.header-container {
	color: #fff;
	font-size: 17px;
	line-height: 18px;
	background-color: #293449;
}
.header-container a {
	color: #fff;
}

/*Стилизация кнопки заказа*/
.nav-about-order .button {
	background-color: #63a63e;
}
/*форма поиска спокойное состояние*/
.main-nav-search input {
	border-style: none;
	background-color: #293449;
}
/*изменение цвета подсказки формы поиска Safari и Chrome*/
.main-nav-search input[type="search"]::-webkit-input-placeholder {
	color: #fff;
}
/*изменение цвета подсказки формы поиска Firefox*/
.main-nav-search input[type="search"]::-moz-placeholder {
	color: #fff;
}
/*стилизация формы поиска*/
.main-nav-search input:hover, 
.main-nav-search input:focus {
	background-color: #212a3a;
	outline: 0;
}
/*стилизация состояния наведения кнопки заказа*/
.nav-about-order .button:hover,
.nav-about-order .button:focus {
	background-color: #5fbb2d;
	outline: 0;
}
/*стилизация заголовка на главной*/
.main-navigation h1 {
	font-size: 16px;
	font-style: italic;
	line-height: 23px;
	color: #ee3643; 
}
/*адрес на главной*/
.main-nav-contacts {
	margin-top: 60px;
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}
/*стилизация номера телефона на главной*/
.nav-contacts-phone {
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
	border: 4px solid #000;
	padding: 11px 51px 11px 74px;
}
.nav-contacts-adress {
	display: block;
	padding-top: 11px;
	margin-left: 10px;
}
/*Стилизация кнопок вход и рег-я*/
.login-link {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
/*	изменить цвет на правильный*/
	background-color: #beacac;
	padding: 15px 27px 15px 48px;
	margin-left: 69px;
	margin-right: 10px;
}

.user-navigation li {
	display: block;
	margin-top: 60px;
}

.login-link-registration {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	background-color: #beacac;
	padding: 15px 25px 15px 25px;
}
/*Стилизация ссылок ЛК на странице каталога*/
.user-name {
	font-size: 21px;
	line-height: 21px;
	margin: 0;
	padding: 0;
	color: #000000;
	
}

.user-order a,
.user-cabinet a{
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	text-decoration: underline;
}
/*Стилизация при наведении*/
.login-link:hover,
.login-link-registration:hover,
.user-order a:hover,
.user-cabinet a:hover,
.login-link:focus,
.login-link-registration:focus,
.user-order a:focus,
.user-cabinet a:focus {
	color: #ee3643;
	outline: 0;
}
/*Стилизаяция ссылок в главном меню*/
.site-navigation a {
	font-size: 17px;
	line-height: 17px;
	color: #fff;
	}
.site-navigation li {
	padding-top: 20px;
	padding-bottom: 24px;
}
/*Стилизация контейнера главного меню*/
.site-navigation {
	width: 940px;
	background-color: #32425c;
}
/*стилизация состояния наведения главного меню*/
.site-navigation li:hover,
.site-navigation li:focus {
	background-color: #293449;
	outline: 0;
}
/*********************************/
/*Хлебные крошки. -- Страница каталога -- */
.breadcrumbs a, 
.breadcrumbs-current { 	
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #000;
}

.breadcrumbs {
	list-style: none;
}
/*Стилизация контейнера заголовка*/
.catalog-title {
	background-color: #f2f6f8;
	padding: 0;
	margin: 0;
	margin-left: 10px;
}
/*Заголовок перфораторы*/
.catalog-title h2 {
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-left: 30px;
}

/* --------------------- */
/*******************************/

/*Стилизация выбора категории товара*/
.category-item-title {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	color: #fff;
}
/*стилизация кнопки на карточках категории*/
.choose-category-button {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #fff;
}
/*список категорий, список управляющих эл-в*/
.category-list,
.control-slider {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
}

/*временно, чтобы текст видно было*/
.choose-category {
	background-color: grey;
}
/*фон для заголовка*/
.popular-goods-box {
	background-color: #f9f5f0;
}
/*Заголовок над популярными товарами*/
.popular-caption {
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;
}
/*Стилизация кнопки поп. товаров*/
.popular-goods-button-link {
	font-size: 14px;
	line-height: 18px;
	color: #fff;
	text-transform: uppercase;
}
/*Стилизаия карточек товара*/
.popular-goods-list {
	list-style: none;
}
/*марка товара. Верхняя строка*/
.popular-goods-category {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	color: #000;
}
/*Модель тоара. Нижняя строка*/
.popular-goods-model {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
}
/*Старая цена*/
.popular-goods-old-price, 
.popular-goods-button {
	font-family: 'PT Sans', sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: line-through;
	color: #a9a9a9;
}
/*кнопка с ценой новой*/
.popular-goods-button {
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
/*	фоновоую заливку удалить после стилизации кнопки*/
	background-color: red;
}
/*************************************/
/*Блок заголовка поп. произв-ей*/
.popular-manufacturer-heaer {
	background-color: #f9f5f0;
}
/*Кнопка все производители*/
.popular-manufacturer-button-link {
	font-size: 14px;
	line-height: 18px;
	color: #fff;
	text-transform: uppercase;
	/*	фоновоую заливку удалить после стилизации кнопки*/
	background-color: red;
}
/*Убираем точки списка у лого произв-ля*/
.popular-manufacturer-list {
	list-style: none;
	margin: 0;
	padding: 0;
}	
/**************************************/
/*Стилизация блока сервисы*/
/*Общие параметры для всего блока*/
.service {
	background-color: #f4f8f9; 
}
/*Заголовок сервиса*/
.service-list-caption {
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	color: #000;
	text-transform: uppercase;
}
/*заголовок доставки*/
.servece-delivery-caption {
	font-size: 36px;
	line-height: 36px;
	font-weight: 400;
	text-transform: uppercase;
	color: #32425c;
}
/*текст*/
.service-description,
.delivery-description {
	font-size: 13px;
	line-height: 24px;
	color: #000;
}
/*список сервисов*/
.service-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.service-list-button {
	background-color: #32425c;
}
/*Стилизаия текста  списке*/
.service-list-button a {
	font-size: 21px;
	line-height: 30px;
	font-weight: bold;	
	color: #fff;
}
/*Стилизация при наведении*/
.service-list-button a:hover,
.service-list-button a:focus {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: auto;
	width: 240px;
	background-color: #293449;
	outline: 0;
}
/*********************************/
/*Блок компания техномарт*/
/*Стилизация заголовков*/
.company-title, 
.contact-title {
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	color: #000;	
	text-transform: uppercase;
}
/*Стилизаия текста*/
.company-description,
.contact-description {
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: #000;
}
/*Стилизуем маркеры списка*/
.company-partners {
	list-style: none;
	margin: 0;
	padding: 0;
}
/*Стилизация списка партнеров*/
.company-partners-item {
	font-size: 18px;
	line-height: 20px;
	font-weight: 400;
	color: #000;
}
/*Стилизация текста кнопок*/
.about-company-button, 
.contact-button {
	font-size: 14px;
	line-height: 28px;
	font-weight: 400;
	color: #fff;
/*временный фон	удалить*/
	background-color: red;
}
/***********************************/
/*стилизация футера*/
.main-footer {
	background-color: #32425c;
}
.footer-social {
	background-color: #293449;
}
/*Стилизация меню сайта*/
/*убрали маркеры списка*/
.footer-nav,
.footer-category-nav {
	list-style: none;
	outline: 0;
}
/*Стилизация текста ссылок*/
.footer-address, 
.footer-nav a,
.footer-category-nav a {
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #fff;
}
.footer-category-nav a {
	color: #ffd180;
}
/*стилизация нижней части футера*/
.footer-copyright,
.footer-feedback, 
.footer-developed {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #fff;	
}

.footer-feedback-box,
.footer-developed a {
	color: #ffd180;
}
/*Убираем маркеры списка СС*/
.social-button ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
/*фон для кнопок СС*/
.social-button-ico {
	background-color: #212a3a;
	padding: 5px;
	 
}
/*фон для кнопок СС при наедении*/
.social-button-ico:hover,
.social-button-ico:focus {
	background-color: #ee3643;
	outline: 0;
}

/*Стилизация при наведении*/
.footer-nav a:hover,
.footer-nav a:focus {
	border-bottom: 1px solid #fff;
	outline: 0;
} 

.footer-category-nav a:hover,
.footer-category-nav a:focus {
	border-bottom: 1px solid #ffd180;
	outline: 0;
}

/*Страница каталога*/
/*Фильтры*/
.main-form,
.filters-form-title,
.filters-instrument-title,
.filters-choise-sorting a,
.catalog-list span {
	font-family: 'PT Sans', sans-serif;
}
/*Заголовки внутри формы*/
/*Фоновый цвет*/
.filters-form-title{
	background-color: #f7f3ec;
}
/*Фон инпутов, ВРЕМЕННО*/
.input-form-container {
	background-color: #f7f3ec;
}

.filters-form-title,
.filters-instrument-title {
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000;
}
/*Заголовки внутри формы*/
.filter-price legend,
.filter-feature legend,
.filter-manufacturers {
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
}
/*Стилизация текста ползунка фильтра*/
.main-form input[value="0"],
.main-form input[value="30000"] {
	font-size: 17px;
	line-height: 18px;
}
.main-form label {
	font-weight: 400;
}
/*Стилизация кнопки применить*/
.form-submit {
	font-size: 13px;
	line-height: 18px;
	border: 1px solid #e5e5e5;
	background-color: #fff;
}
/*Стилизация направления фильтра*/
.filters-choise-sorting {
	list-style: none;
	margin: 0;
	padding: 0;
}

.direction-sort {
	font-size: 13px;
	line-height: 18px;
	color: #000;
	opacity: 0.3;
	border-bottom: 1px dotted #ee3643;
	text-transform: uppercase;
}

/*Стилизация наведени и фокуса*/
.direction-sort:hover,
.direction-sort:focus {
	border-bottom: 1px solid #ee3643;
	opacity: 1;
	outline: 0;
}

/*Стилизаия стрелочек*/
.sort-button-up,
.sort-button-down {
	opacity: 0.3;
}

.sort-button-up:hover,
.sort-button-down:hover,
.sort-button-up:focus,
.sort-button-down:focus {
	opacity: 1;
	outline: 0;	
}
/*Убираем обводку формы*/
.main-form fieldset{
	border-style: none;
}
/*Декоратиные линии в фильтре*/
.manufacturers-line {
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}
/*-------------------------------*/
/*Стилизаия блока товара*/
.catalog {
	font-family: 'PT Sans', sans-serif;
}
.catalog-list {
	list-style: none;
}
/*Старая цена*/
.catalog-item-old-price,
.catalog-item-button {
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
	text-decoration: line-through;
	color: #999999;
}
/*Новая цена*/
.catalog-item-button {
	text-decoration: none;
	color: #fff;
/*Временный фон*/
	background-color: red;
}
/*Категория и модель*/
.catalog-item-category,
.catalog-item-model {
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	color: #000;
}
.catalog-item-model {
	text-transform: uppercase;
}

/*Обратная сторона карточки тоара*/
.catalog-buy-card {
	font-family: "Cuprum", sans-serif;
	font-size: 14px;
	line-height: 18px;
}
/*Кнопка купить*/
.catalog-buy-card .buy-button {
	color: #fff;
	padding: 7px 20px 7px 20px;
/*	Временный фон*/
	background-color: #63a63e;
}
/*Взаимодействие с кнопкой купить*/
.catalog-buy-card .buy-button:hover,
.catalog-buy-card .buy-button:focus {
	background-color: #5fbb2d;
	outline: 0;
}

/*Кноп в закладки*/
.catalog-buy-card .bookmarks-button {
	color: #32425c;
	border: 2px solid #63a63e;
	padding: 5px 20px 5px 20px;
}
/*Взаимодействие с кнопкой в закладки*/
.catalog-buy-card .bookmarks-button:hover,
.catalog-buy-card .bookmarks-button:focus {
	color: #32425c;
	border: 2px solid #32425c;
	outline: 0;
}
/*------------------------------------*/
/*Стилизация номеров страниц*/
.pagination-list {
	list-style: none;
	
}
.pagination-list a,
.pagination-item-current a,
.button-next {
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #000;
	text-transform: uppercase;
	padding: 14px;
	border: 1px solid #e5e5e5;
}

.pagination-item-current a {
	color: #fff;
	background-color: #ee3643;
	
}

.pagination-list a:hover,
.pagination-list a:focus,
.button-next:hover,
.button-next:focus {
	border: 1px solid #bdc6ca;
	outline: 0;
}
/*---------------------------*/
.instrument-information {
	background-color: #f2f6f8;
	margin: 0px;
	padding: 0px;
}

.information-title {
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
	color: #000;
}

.information-text {
	font-size: 13px;
	line-height: 24px;
	color: #000;
	margin: 0px;
}
/*Модальные окна*/
/*Стилизация попапа*/
.add-googs ul {
	list-style: none;
}

.add-goods-title {
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	color: #000;
}

.add-goods-container {
	background-color: #f1f1f1;
}

.confirm-order,
.continue-shopping {
	font-size: 14px;
	line-height: 18px;
	color: #000;
	text-transform: uppercase;
}
.confirm-order {
	color: #fff;
	background-color: #ee3643;
}

.modal-close {
	border-style: none;
}

/*Модальное окно на главной*/

.write-us label {
	font-size: 18px;
	line-height: 18px;
	color: #000;
}

.modal-container {
	background-color: #f4f4f4;
}

.btn-modal-write {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #fff;
	background-color: #ee3643;
	border-style: none;
}

/*------------------------------*/
/*Начало сетки. Крупные блоки*/
.header-container {
	padding-left: 130px;
	
}

.header-container,
.site-navigation,
.header-central-box,
.user-navigation {
	display: flex;
	flex-wrap: wrap;
}
/*Расположение меню сайта*/
.site-navigation {
	width: 940px;
	justify-content: space-between;
	margin-left: 130px;	
	
}
.site-navigation-item:last-child {
	padding-right: 55px;
}

.site-navigation-item:first-of-type {
	padding-left: 52px;
}

/*Разметка центрального блока шапки*/
.header-h-box {
	width: 250px;
	margin-top: 43px;
	margin-bottom: 40px;
	margin-left: 130px;
	padding-left: 50px;
	
}
/*-----Шапка закончена--------*/
/*Популярные категории*/
.choose-category {
	display: flex;
/*	flex-wrap: wrap;*/
	max-width: 940px;
/*
	margin-left: auto;
	margin-right: auto;
*/
}


.choose-category-box {
	display: flex;
	flex-wrap: wrap;
}

.category-list {
	display: flex;
	width: 940px;	
	padding-top: 62px;
}

.category-list li:first-of-type{
	margin-left: 20px;
}
.category-item {
	width: 300px;
	margin-right: 20px;
	margin-top: 20px;
	/*	временная рамка*/

/*	border: 1px solid #000;*/
}

.category-list-second {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.category-list-second li {
	margin-left: 20px;
}

.category-list-second {
	align-self: flex-end;
}
.category-list-second li {
	margin-right: 0;
}
.gallery {
	display: flex;
	flex-direction: column;
	width: 620px;
	margin-top: 20px;
}





/*Второй слайд галереи скрыт*/
.gallery-content-second {
	display: none;
}
/*Заголовок популярных товаров*/
.popular-goods-box {
	display: flex;
	flex-wrap: wrap;
	width: 940px;
/*	margin-left: 130px;*/
	margin-bottom: 22px;
	justify-content: space-between;
	background-color: #f9f5f0;
}
/*Добавить отступы в контейнер*/
.popular-goods-button {
	align-self: center;		
}

/*---------------------------------*/
/*Популярные товары*/
.popular-goods-list {
	display: flex;
/*	flex-wrap: wrap;*/
	width: 940px;
	padding: 0;
/*	margin-left: 130px;		*/
}

.popular-goods-list li {
	width: 218px;
	border: 1px solid #eaeaea;
}
.popular-goods-list li:nth-of-type(2) {
	margin-left: 20px;
	margin-right: 20px;
}
.popular-goods-list li:nth-of-type(3) {
	margin-right: 20px;
}
/*Стилизация внутри карточки товара*/
.popular-goods-item {
	display: flex;
  flex-direction: column;
	justify-content: space-between;
}

.popular-goods-item h3 {
	order: 2;
	margin: 0;
	margin-bottom: 15px;
}

.popular-goods-old-price {
	align-self: center;
	margin: 0;
	margin-bottom: 13px;
	order: 3;
}

.popular-goods-price {
	align-self: center;
	order: 4;
	margin-bottom: 30px
}

.popular-goods-category {
	margin-left: 32px;
}

.popular-goods-model {
	margin-left: 71px; 
}

.goods-item-image {
	margin-top: 0px;
	margin-bottom: -16px;
}

.popular-goods-price a {
	padding: 10px 15px 11px 37px; 
}

/*------------------------------------*/
/*Популярные производители*/
/*Заголовок*/
.popular-manufacturer-header {
	display: flex;
	flex-wrap: wrap;
	width: 940px;
	justify-content: space-between;
/*	margin-left: 130px;*/
	margin-bottom: 20px;
	background-color: #f9f5f0;
}
.popular-manufacturer-button {
	align-self: center; 
}
/*Логотипы производителей*/
.popular-manufacturer-list {
	display: flex;
	flex-wrap: wrap;
	width: 940px;
/*	margin-left: 130px;*/
	justify-content: space-between;
}

.popular-manufacturer-item {
	width: 218px;
	height: 143px;
	margin-bottom: 20px;
	border: 1px solid #eaeaea;
}

.popular-manufacturer-item {
	display: flex;
}
.manufacturer-logo-link {
	margin: auto;
}

.second-row li {
	margin-bottom: 63px;
}
/*-----------------------------*/
/*Разметка сервисы*/
/*Расположение*/
.service {
	display: flex;
/*	margin-left: 130px;*/
}


.service-list-box{
	display: flex;
	flex-direction: column;
}

.service-delivery,
.service-delivery-box {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}



/*-------------------------*/
/*Блок о компании*/
.company-contack-box {
	display: flex;
	justify-content: space-between;
}

.company {
	display: flex;
	flex-direction: column;
	margin-left: 130px;
}

.contact {
	display: flex;
	flex-direction: column;
}


/*------------------------------*/
/*Футер*/
.footer-nav,
.footer-category-nav,
.footer-address {
	margin: 0;
	padding: 0;
}

.footer-line-top, 
.footer-line-middle,
.footer-social {
	display: flex;
	margin-left: 130px;
	max-width: 1200px;
}

.footer-nav {
	display: flex;
	margin-top: 39px;
}

.footer-category-nav {
	display: flex;
	margin-top: 39px;
	margin-bottom: 73px;
}

.social-button ul {
	display: flex;
}

.footer-nav li:not(:last-of-type):not(:first-of-type) {
	margin-left: 30px;
	margin-right: 30px;
}

.footer-nav li:first-child {
	margin-left: 173px;
	margin-right: 30px;
}
.footer-nav li:last-child {
	margin-left: 30px;
}

.footer-category-nav li:not(:last-of-type):not(:first-of-type) {
	margin-left: 30px;
	margin-right: 30px;
}

.footer-category-nav li:first-child {
	margin-right: 30px;
	margin-left: 91px;
}

/*Нижняя часть футера*/
.social-button {
	margin-left: 161px;
	margin-right: 119px;
}

.footer-feedback {
	margin-right: 52px;
}




/*Сетка для страницы каталога*/

.nav-middle-box {
	display: flex;
	align-items: center;
	padding-left: 190px;
}

.user-navigation-box {
	display: flex;
	flex-direction: column;
}

.user-navigation-catalog {
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-middle-box h1 {
	font-size: 16px;
	font-style: italic;
	line-height: 23px;
	color: #ee3643; 
}

.breadcrumbs {
	display: flex;
}

.filters-form {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.main-form-box {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 300px;
}

.filters-instrument,
.filters-choise-sorting {
	display: flex;
	
}




















.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}



