 body {
	margin: 0;
	padding: 0;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	color: #000;
	background-color: #fff;
}

.main-header {
	padding-bottom: 62px;
	font-size: 17px;
	line-height: 17px;
	background-color: #f3f7f8;
}

.container {
	margin: 0 auto;
	width: 940px;
}

a {
	text-decoration: none;
}
/*Чтобы картинки не выпадали из своего контейнера*/
/*
img {
	max-width: 100%;
	height: auto;
}
*/

/*Общая стилизация шапки*/

/*убираем точки в списках шапки*/
.site-navigation,
.user-navigation {
	margin: 0;
	padding: 0;
	list-style: none;
}

/*Стилизация контейнера верхней части меню*/
.alignment-box {
	background-color: #293449;
}
.header-container {
	margin: 0 auto;
	padding: 0;
	width: 940px;
	color: #fff;
	font-size: 17px;
	line-height: 18px;
	background-color: #293449;
}
.header-container a {
	color: #fff;
}

.main-header-logo {
	width: 220px;
	height: 42px;
	box-shadow: 0px 5px 0px 0px #b52933;
}

/*Стилизация кнопки заказа*/
.nav-about-order .button {
	padding: 12px 21px;
	background-color: #63a63e;
}
/*Корзина */
.nav-goods-basket {
	position: relative;
	padding-top: 11px;
	padding-bottom: 12px;
	padding-right: 33px;
	padding-left: 49px;
	background-color: #ee3643;
}

.nav-goods-basket::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 18px;
	width: 15px;
	height: 15px;
	background-image: url(../img/svg/icon-cart.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}


/*закладки*/
.nav-bookmarks {
	position: relative;
	padding-top: 11px;
	padding-bottom: 11px;
	padding-right: 18px;
	padding-left: 40px;
}

.nav-bookmarks::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 12px;
	width: 14px;
	height: 16px;
	background-image: url(../img/svg/icon-bookmark.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}
/*Поведение при наведении всем картинкам гл. меню*/
.main-nav-search p:hover::before,
.nav-bookmarks:hover::before,
.nav-goods-basket:hover::before {
	opacity: 1;
}

/*Поведение при клике. Закладки, корзина*/
/*Оформить заказ*/
.nav-bookmarks:active::before,
.nav-goods-basket:active::before {
	opacity: 0.3;
}

.nav-about-order a:active{
	background-color: #518534;
	opacity: 0.5;
}

.nav-goods-basket:active,
.nav-bookmarks:active {
	background-color: #161d29;
	opacity: 0.6;
}

/*************************************/

.main-nav-search p,
.nav-about-order {
	display: flex;
	margin: 0;
	padding: 0;
	margin-left: auto;
}

/*Поле поиска*/
.main-nav-search p {
	margin-left: 49px;
	position: relative;
}

/*///////////////////////////*/

.search-submit{
  position: absolute;
  top: 10px;
  left: -36px;
  
  border: none;
  background: none;
  
  opacity: 0.3;
  cursor: pointer;
}

.main-nav-search input:active ~ .search-submit path,
.nav-search:active ~ .search-submit {
  fill: #ee3643;
	opacity: 1;
}

.main-nav-search input:hover ~ .search-submit,
.search-submit:hover {
  opacity: 1;
}

.main-nav-search input:active ~ .search-submit,
.search-submit:active {
  opacity: 0.5;
}

/*стилизация формы поиска*/
.main-nav-search input:hover,
.main-nav-search input:focus {
/*	background-color: #212a3a;*/
	background-color: #fff;
	color: #000;
	outline: 0;
}

/*форма поиска спокойное состояние*/
.main-nav-search input {
	border-style: none;
	background-color: #293449;
	color: #fff;
	font-family: 'Cuprum', Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 17px;
	line-height: 18px;
	background-color: #293449;
	padding-left: 8px;
	padding-top: 11px;
	padding-bottom: 11px;
}

/*изменение цвета подсказки формы поиска Safari и Chrome*/
.main-nav-search input[type="search"]::-webkit-input-placeholder {
	color: #fff;

}
/*изменение цвета подсказки формы поиска Firefox*/
.main-nav-search input[type="search"]::-moz-placeholder {
	color: #fff;
}

/*стилизация состояния наведения кнопки заказа*/
.nav-about-order .button:hover,
.nav-about-order .button:focus {
	background-color: #5fbb2d;
	outline: 0;
}
/*стилизация заголовка на главной*/
.main-navigation h1 {
	margin: 0;
	font-size: 16px;
	font-style: italic;
	line-height: 23px;
	font-weight: 400;
	color: #ee3643;
}
/*адрес на главной*/
.main-nav-contacts {
	margin: 10px 69px 0px 67px;
	margin-left: 67px;
	margin-right: 66px;
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}
/*стилизация номера телефона на главной*/
.nav-contacts-phone {
	position: relative;
	vertical-align: middle;
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
	border: 4px solid #fff;
	padding: 11px 51px 11px 74px;
}

.nav-contacts-phone::before {
	content: "";
	position: absolute;
	top: 14px;
	left: 17px;
	width: 19px;
	height: 19px;
	background-image: url(../img/svg/icon-phone.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.nav-contacts-adress {
	display: block;
	vertical-align: bottom;
	margin-top: 18px;
	margin-left: 10px;
}
/*Стилизация кнопок вход и рег-я*/
.login-link {
	position: relative;
	max-width: 121px;
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	background-color: #fff;
	padding: 15px 27px 15px 48px;
	margin-right: 10px;
}

.login-link::before {
	content: "";
	position: absolute;
	top: 19px;
	left: 15px;
	width: 23px;
	height: 19px;
	background-image: url(../img/svg/icon-login.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.4;
}

/*Стилизация при наведении*/
.login-link:hover::before,
.login-link:focus::before{
	opacity: 1;
}

.login-link:hover,
.login-link-registration:hover,
.user-order a:hover,
.user-cabinet a:hover,
.login-link:focus,
.login-link-registration:focus,
.user-order a:focus,
.user-cabinet a:focus {
	color: #ee3643;
	outline: 0;
}
/*Стилизация при клике*/
.login-link:active,
.login-link-registration:active{
	color: #b2b2b2;
}

.login-link:active::before{
		opacity: 0.3;
}

.user-navigation {
	margin-top: 12px;
	align-self: flex-start;
}

.login-link-registration {
	max-width: 150px;
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	background-color: #fff;
	padding: 15px 25px 15px 25px;
}
/*Стилизация ссылок ЛК на странице каталога*/
.user-name {
	font-size: 21px;
	line-height: 21px;
	margin: 0;
	padding: 0;
	color: #000000;

}

.user-order a,
.user-cabinet a{
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	text-decoration: underline;
}

.user-order a:active,
.user-cabinet a:active {
	color: #b2b2b2;
}


/*Стилизация контейнера главного меню*/
.site-navigation {
	margin: 0 auto;
	width: 940px;
	background-color: #32425c;
	justify-content: space-between;
}

/*Стилизаяция ссылок в главном меню*/
.header-container,
.site-navigation,
.user-navigation {
	display: flex;
	flex-wrap: wrap;
}

.site-navigation {
	border-bottom: 5px solid #293449;
}

.header-container {
	align-items: center;
}
/*Расположение меню сайта*/
.site-navigation a {
	font-size: 17px;
	line-height: 17px;
	color: #fff;
	display: block;
	padding: 22px 32px;
	}

/*стилизация состояния наведения главного меню*/
.site-navigation-item a:hover,
.site-navigation-item a:focus {
	background-color: #293449;
	outline: 0;
}

.site-navigation-item a:active {
	background-color: #1d2739;
	opacity: 0.5;
}

/*********************************/
/*Хлебные крошки. -- Страница каталога -- */
.breadcrumbs a,
.breadcrumbs-current {
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #000;
}

.breadcrumbs {
	list-style: none;
}

.breadcrumbs {
	margin: 0;
	padding: 0;
	display: flex;
	position: relative;
	list-style: none;
	font-family: "PT sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px; 
	background-color: #fff;
	text-transform: uppercase;
}

.breadcrumbs li {
	position: relative;
	padding-top: 21px;
	padding-bottom: 20px;
	padding-left: 0px;
	margin-right: 40px;
}

.breadcrumbs a {
	color: #000;
}

.icon-home {
	left: -2px;
	top: 1px;
}

.icon-right::before {
	position: absolute;
	content: "";
	left: -26px;
	top: 23px;
	width: 8px;
	height: 12px;
	background-image: url("../img/svg/icon-right-small.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

/*Стилизация контейнера заголовка*/
.catalog-title {
	background-color: #f2f6f8;
	padding: 0;
	margin: 0;
}
/*Заголовок перфораторы*/
.catalog-title h2 {
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	color: #32425c;
	padding-top: 25px;
	padding-bottom: 25px;
	margin: 0;
	margin-left: 30px;
	margin-bottom: 20px;
}

/* --------------------- */
/*******************************/

/*Стилизация выбора категории товара*/
.category-item-title {
	margin: 0;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	padding-left: 23px;
	padding-top: 19px;
	padding-bottom: 12px;
	color: #fff;
}
/*стилизация кнопки на карточках категории*/
.catalog-button {
	margin: 0;
	margin-left: 23px;
	margin-bottom: 25px;
	margin-right: 140px;
}

/*Кнопка в выборе популярной категории*/
.choose-category-button {
	display: block;
	padding: 9px 24px;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	background-color: #e5ac40;
	color: #fff;
	border-radius: 3px;
}

.choose-category-button:hover,
.choose-category-button:focus {
	background-color: #cccccc;
}

.choose-category-button:active {
	background-color: #b2b2b2;
}

/*список категорий, список управляющих эл-в*/
.category-list,
.control-slider {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
}

/*фон для заголовка*/
.popular-goods-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 894px;
	padding-right: 16px;
	padding-left: 30px;
	margin-bottom: 22px;
	background-color: #f9f5f0;
}

/*Заголовок над популярными товарами*/
.popular-caption {
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;
}
/*Стилизация кнопки поп. товаров*/
.popular-goods-button-link {
	font-size: 14px;
	line-height: 18px;
	color: #fff;
	text-transform: uppercase;
}
/*Стилизаия карточек товара*/
.catalog-item {
	list-style: none;
}

/*/////////////////////////////*/
.catalog-items{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 940px;
	border:1px solid #eaeaea;
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
}

.title,
.discount,
.price {
	display: block;
}

.catalog-item:hover {
	box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.catalog-item {
	position: relative;
	width: 218px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	line-height: 20px;
	font-weight: bold;
	text-align: center;
}

.title {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
}

.discount,
.price {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 17px;
	font-weight: bold;
	line-height: 18px;
}

.catalog-item:nth-child(3n){
	margin-right: 0;
}
.catalog-items{
	font-size: 0;
}
.catalog-item{
	font-size: 16px;
}

.flag-new::after {
	content: "";
	position: absolute;
	width: 60px;
	height: 60px;
	top: 0;
	right: 0;
	background-image: url(../img/new-flag.png);
	background-repeat: no-repeat;
}

.catalog-item .flag-new{
	background: url("img/new-flag.png") no-repeat 0 0;
}
.catalog-item .actions{
	position: absolute;
	top: 0;
	left: 0;
	width: 218px;
	height: 88px;
	padding: 40px 0;
	z-index: 10;
}
.catalog-item .actions .buy,
.catalog-item .actions .bookmark{
	display: block;
	margin: 0 auto;
	margin-bottom: 7px;
	padding: 7px 0;
	border: 3px solid #63a63e;*/
	border-bottom-color: #377416; 
	background-color: #63a63e;
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	font-family: "Cuprum", sans-serif;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 3px;
}



.actions {
	position: relative;
}

.actions .buy {
	width: 135px;
	border-bottom: 3px solid #367315;
}

.actions .buy::before {
	content: "";
	position: absolute;
	top: 48px;
	left: 56px;
	width: 15px;
	height: 15px;
	background-image: url(../img/svg/icon-cart.svg);
	background-repeat: no-repeat;
	opacity: 0.3;
}

.actions .buy:active::before,
.actions .buy:focus::before,
.actions .buy:hover::before {
	opacity: 1;
}


.actions .bookmark{
	width: 129px;
	border: 3px solid #63a63e;
}

.catalog-item .actions .bookmark{
	color: #32425c;
	padding-left: 3px;
	padding-right: 3px;
	background: #fff;
	border-bottom-color: #367315;
}

.actions .buy:focus,
.actions .buy:hover {
	background-color: #5fbb2d;
	border-bottom-color: #377416;
}

.actions .buy:active {
	background-color: #518534;
}

.actions .bookmark:focus,
.actions .bookmark:hover {
	border-color: #32425c;
}

.actions .bookmark:active {
	border-color: #32425c;
	opacity: 0.3;
}

.catalog-item .actions{
	display: none;
}
.catalog-item:hover .actions{
	background-color: #fff;
	display: block;
}
.catalog-item .image{
	width: 218px;
	height: 168px;
}
.catalog-item .image img{
	max-width: 100%;
}
.catalog-item .title{
	min-height: 40px;
	padding: 0 25px;
	margin-top: 5px;
	margin-bottom: 15px;
}
.catalog-item .discount{
	min-height: 20px;
	margin-top: 15px;
	margin-bottom: 10px;
	color: #aaaaaa;
	text-decoration: line-through;
}
.catalog-item .price{
	position: relative;
	width: 80px;
	margin: 10px auto;
	margin-bottom: 20px;
	padding: 10px 30px;
	color: #fff;
	background: #ee3643;
	border-radius: 3px;
}
.catalog-item .price:after{
	content: "";
	position: absolute;
	top: 0;
	right: -20px;
	width: 0;
	height: 0;
	border: 19px solid #fff;
	border-left-color: #ee3643;
}

/*/////////////////////////////*/

/*марка товара. Верхняя строка*/
.popular-goods-category {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	color: #000;
}
/*Модель тоара. Нижняя строка*/
.popular-goods-model {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
}
/*Старая цена*/
.popular-goods-old-price,
.popular-goods-button {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: line-through;
	color: #a9a9a9;
}
/*кнопка с ценой новой*/
.popular-goods-button {
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
/*	фоновоую заливку удалить после стилизации кнопки*/
	background-color: red;
}
/*************************************/
/*Блок заголовка поп. произв-ей*/
.popular-manufacturer-header {
	display: flex;
	flex-wrap: wrap;
	width: 894px;
	justify-content: space-between;
	margin-bottom: 20px;
	padding-left: 30px;
	padding-right: 16px;
	background-color: #f9f5f0;
}

.popular-manufacturer {
	padding-bottom: 44px;
}

/*Кнопка все производители*/
.popular-manufacturer-button-link {
	font-size: 14px;
	line-height: 18px;
	color: #fff;
	text-transform: uppercase;
	align-self: center;
	padding: 10px 70px 10px 70px;
	border-radius: 3px;
	background-color: #ee3643;
}
/*Убираем точки списка у лого произв-ля*/
/*Стилизаия логотипов производителей*/
.popular-manufacturer-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	width: 940px;
	justify-content: space-between;
}

.popular-manufacturer-item {
	width: 218px;
	height: 143px;
	margin-bottom: 20px;
	border: 1px solid #eaeaea;
}

.popular-manufacturer-item:hover,
.popular-manufacturer-item:focus {
	box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.popular-manufacturer-item:active {
	box-shadow: 0px 7px 18px 0px rgba(41, 52, 73, 1);
	opacity: 0.3;
}


.popular-manufacturer-item {
	display: flex;
}
.manufacturer-logo-link {
	margin: auto;
}

.second-row li {
	margin-bottom: 63px;
}

/**************************************/
/*Стилизация блока сервисы*/
/*Общие параметры для всего блока*/
.service {
	display: flex;
	background-image: url(../img/service-truck.png);
	background-repeat: no-repeat;
	background-position: right bottom;
/*	*/
}
.service-box {
	background-color: #f4f8f9;
}
/*Заголовок сервиса*/
.service-list-caption {
	margin: 0;
	padding-top: 88px;
	padding-bottom: 35px;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	color: #000;
	text-transform: uppercase;
}
/*заголовок доставки*/
.servece-delivery-caption {
	margin: 0;
	padding-bottom: 30px;
	font-size: 36px;
	line-height: 36px;
	font-weight: 400;
	text-transform: uppercase;
	color: #32425c;
}
/*текст*/
.service-description,
.delivery-description,
.service-delivery-description {
	margin: 0;
	padding: 0;
	font-size: 13px;
	line-height: 24px;
	color: #000;
}

/*Контейнер для списка и блока доставки*/
.service-delivery-box {
	display: flex;
	align-items: center;
}

.service-delivery {
	margin-bottom: 30px;
}

.delivery-description,
.service-delivery-description {
	display: block;
	width: 255px;
}

/*список сервисов*/
.service-list {
	display: block;
	list-style: none;
	margin: 0;
	padding: 73px 80px 80px 0px;
}

.service-list-button a::after {
	content: "";
	top 50px;
	right: 50px;
	width: 10px;
	height: 279px;
	background-image: url(../img/svg/icon-close.svg);
	background-color: red;
	background-repeat: no-repeat;
	z-index: 3;
}

/*Стилизация списка*/
.service-list li:nth-of-type(3) {
	border-bottom: 1px solid #4d627b;
	border-top: 1px solid #4d627b;
}

.service-list-button {
	background-color: #32425c;
}

/*Стилизаия текста списке*/
.service-list-button a {
	display: block;
	font-size: 21px;
	line-height: 30px;
	font-weight: bold;
	color: #fff;
	padding: 15px 140px 15px 22px;
	}

/*Стилизация при наведении*/
.service-list-button a:hover,
.service-list-button a:focus {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #293449;
	outline: 0;
}

.service-list-button a:active {
	background-color: #fff;
	color: #32425c;
}

/*Флексы для */

.service-list-box{
	display: flex;
	flex-direction: column;
/*	padding-bottom: 80px;*/
}

.service-delivery {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

/*Проблема с тенью*/
.servece-delivery-caption::before {
	position: absolute;
	content: "";
	top: -44px;
	left: -89px;
	width: 10px;
	height: 279px;
	background-image: url(../img/shadow.png);
	background-repeat: no-repeat;
}

/*********************************/
/*Блок компания техномарт*/
/*Стилизация заголовков*/
.company-title,
.contact-title {
	margin: 0;
	padding-top: 104px;
	padding-bottom: 35px;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	color: #000;
	text-transform: uppercase;
}
/*Стилизаия текста*/
.company-description,
.contact-description {
	margin: 0;
	padding-bottom: 25px;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: #000;
}

.contact-description {
	display: block;
	width: 180px;
}

.contact-map {
	margin-bottom: 35px;
}

/*Стилизуем маркеры списка*/
.company-partners {
	position: relative;
	list-style: none;
	margin-top: 0;
	margin-bottom: 35px;
	padding: 0;
}
/*Стилизация списка партнеров*/
.company-partners-item {
	padding-bottom: 15px;
	padding-left: 35px;
	font-size: 18px;
	line-height: 20px;
	font-weight: 400;
	color: #000;
}

.row-1::before {
	content: "";
	position: absolute;
	top: 9px;
	left: 0;
	width: 25px;
	height: 2px;
	background-image: url(../img/list-style-img.png);
	background-repeat: no-repeat;
}

.row-2::before {
	content: "";
	position: absolute;
	top: 43px;
	left: 0;
	width: 25px;
	height: 2px;
	background-image: url(../img/list-style-img.png);
	background-repeat: no-repeat;
}

.row-3::before {
	content: "";
	position: absolute;
	top: 78px;
	left: 0;
	width: 25px;
	height: 2px;
	background-image: url(../img/list-style-img.png);
	background-repeat: no-repeat;
}

/*Стилизация текста кнопок*/
.about-company,
.contact-button-box {
	padding: 0;
	margin: 0;
}

.about-company-button,
.contact-button {
	text-transform: uppercase;
	font-size: 14px;
	vertical-align: middle;
	line-height: 28px;
	font-weight: 400;
	color: #fff;
	border-radius: 3px;
	padding-top: 11px;
	padding-bottom: 10px;
	background-color: #ee3643;
}

.about-company-button {
	padding-left: 41px;
	padding-right: 40px;
}

.contact-button {
	padding: 12px 59px 10px 63px;
}



/***********************************/
/*стилизация футера*/
.main-footer {
	background-color: #32425c;
}
.footer-social {
	background-color: #293449;
}
/*Стилизация меню сайта*/
/*убрали маркеры списка*/
.footer-nav,
.footer-category-nav {
	list-style: none;
	outline: 0;
}
/*Стилизация текста ссылок*/
.footer-address,
.footer-nav a,
.footer-category-nav a {
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #fff;
}
.footer-category-nav a {
	color: #ffd180;
}
/*стилизация нижней части футера*/
.footer-copyright,
.footer-feedback,
.footer-developed {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #fff;
}

.footer-feedback-box,
.footer-developed a {
	color: #ffd180;
}

.footer-developed a:active,
.footer-feedback-box:active {
	color: #ee3643;
}

.footer-developed a:hover,
.footer-developed a:focus,
.footer-feedback-box:hover,
.footer-feedback-box:focus {
	border-bottom: 1px solid #8d7d63;
	outline: 0;
}

/*Убираем маркеры списка СС*/

.footer-social-button {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	padding-left: 160px;
	padding-right: 117px;
	width: 135px;
}

.social {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	min-height: 40px;
	background-color: #212a3a;
	margin-right: 5px;
	border-radius: 50%;
}

.social:hover,
.social:focus,
.social:active {
	background-color: #ee3643;
	outline: 0;
}


/*Стилизация при наведении*/
.footer-nav a:hover,
.footer-nav a:focus {
	border-bottom: 1px solid #fff;
	outline: 0;
}

.footer-category-nav a:hover,
.footer-category-nav a:focus {
	border-bottom: 1px solid #ffd180;
	outline: 0;
}

/*Страница каталога*/
/*Фильтры*/
.main-form,
.filters-form-title,
.filters-instrument-title,
.filters-choise-sorting a,
.catalog-list span {
	font-family: 'PT Sans', sans-serif;
}
/*Заголовки внутри формы*/
/*Фоновый цвет*/
.filters-form-title{
	background-color: #f7f3ec;
}
/*Фон инпутов, ВРЕМЕННО*/
.input-form-container {
	display: flex;
	flex-wrap: wrap;
}

.filters-form-title,
.filters-instrument-title {
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000;
	padding-left: 18px;
}
/*Заголовки внутри формы*/
.filter-price legend,
.power-supply legend,
.filter-manufacturers {
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
}
/*Стилизация текста ползунка фильтра*/
.main-form input[value="0"],
.main-form input[value="30000"] {
	font-size: 17px;
	line-height: 18px;
}
.main-form label {
	font-weight: 400;
}
/*Стилизация кнопки применить*/
.form-submit {
	font-size: 13px;
	line-height: 18px;
	border: 1px solid #e5e5e5;
	background-color: #fff;
}
/*Стилизация направления фильтра*/
.filters-choise-sorting {
	list-style: none;
	margin: 0;
	padding: 0;
}

.direction-sort,
.direction-sort-current {
	font-size: 13px;
	line-height: 18px;
	color: #000;
	opacity: 0.3;
	border-bottom: 1px dotted #ee3643;
	text-transform: uppercase;
}

/*Стилизация наведени и фокуса*/
.direction-sort:hover,
.direction-sort:focus,
.direction-sort-current:hover,
.direction-sort-current:focus {
	border-bottom: 1px solid #ee3643;
	opacity: 1;
	outline: 0;
}

/*Стилизаия стрелочек*/
.sort-button-up,
.sort-button-down {
	opacity: 0.3;
}

.sort-button-up:hover,
.sort-button-down:hover,
.sort-button-up:focus,
.sort-button-down:focus {
	opacity: 1;
	outline: 0;
}
/*Убираем обводку формы*/
.main-form fieldset{
	border-style: none;
	padding: 0px;
	margin: 0px;
}
/*Декоратиные линии в фильтре*/
.manufacturers-line {
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}
/*-------------------------------*/
/*Стилизаия блока товара*/
.catalog {
	font-family: 'PT Sans', sans-serif;
}
.catalog-list {
	list-style: none;
}
/*Старая цена*/
.catalog-item-old-price,
.catalog-item-button {
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
	text-decoration: line-through;
	color: #999999;
}
/*Новая цена*/
.catalog-item-button {
	text-decoration: none;
	color: #fff;
/*Временный фон*/
	background-color: red;
}
/*Категория и модель*/
.catalog-item-category,
.catalog-item-model {
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	color: #000;
}
.catalog-item-model {
	text-transform: uppercase;
}

/*Обратная сторона карточки тоара*/
.catalog-buy-card {
	font-family: "Cuprum", sans-serif;
	font-size: 14px;
	line-height: 18px;
}
/*Кнопка купить*/
.catalog-buy-card .buy-button {
	color: #fff;
	padding: 7px 20px 7px 20px;
/*	Временный фон*/
	background-color: #63a63e;
}
/*Взаимодействие с кнопкой купить*/
.catalog-buy-card .buy-button:hover,
.catalog-buy-card .buy-button:focus {
	background-color: #5fbb2d;
	outline: 0;
}

/*Кноп в закладки*/
.catalog-buy-card .bookmarks-button {
	color: #32425c;
	border: 2px solid #63a63e;
	padding: 5px 20px 5px 20px;
}
/*Взаимодействие с кнопкой в закладки*/
.catalog-buy-card .bookmarks-button:hover,
.catalog-buy-card .bookmarks-button:focus {
	color: #32425c;
	border: 2px solid #32425c;
	outline: 0;
}
/*------------------------------------*/
/*Стилизация номеров страниц*/
/*Разметка навигации страниц*/


.pagination-list {
	display: flex;
	max-width: 286px;
	justify-content: space-between;
	padding-left: 20px;
	list-style: none;
	margin-bottom: 61px;
}

.pagination-list a,
.pagination-item-current a,
.button-next {
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #000;
	text-transform: uppercase;
	padding: 11px 15px;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
}

.pagination-item-current a {
	color: #fff;
	background-color: #ee3643;
}

.pagination-list a:hover,
.pagination-list a:focus,
.button-next:hover,
.button-next:focus {
	border: 1px solid #bdc6ca;
	outline: 0;
}

.pagination-item a:active,
.button-next:active {
	border: 1px solid #ee3643;
}
/*---------------------------*/
.instrument-information-box {
	background-color: #f2f6f8;
	margin: 0px;
	padding: 0px;
}

.information-title {
	margin: 0px;
	padding-top: 69px;
	padding-bottom: 33px;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
	color: #000;
}

.information-text {
	font-size: 13px;
	line-height: 24px;
	color: #000;
	margin: 0px;
	padding-bottom: 71px;
}
/*Модальные окна*/
/*Стилизация попапа*/
.add-googs ul {
	list-style: none;
}

.add-goods-title {
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	color: #000;
}

.add-goods-container {
	background-color: #f1f1f1;
}

.confirm-order,
.continue-shopping {
	font-size: 14px;
	line-height: 18px;
	color: #000;
	text-transform: uppercase;
}
.confirm-order {
	color: #fff;
	background-color: #ee3643;
}

.modal-close {
	border-style: none;
}

/*Модальное окно на главной*/

.write-us label {
	font-size: 18px;
	line-height: 18px;
	color: #000;
}

.modal-container {
	background-color: #f4f4f4;
}

.btn-modal-write {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #fff;
	background-color: #ee3643;
	border-style: none;
}

/*------------------------------*/
/*Начало сетки. Крупные блоки*/
.header-container {
	background-color: #293449;
}

/*Разметка центрального блока шапки*/

.header-central-box {
	margin: 0 auto;
	width: 890px;
	display: flex;
	align-items: center;
	padding-top: 43px;
	padding-bottom: 40px;
	padding-left: 50px;
}

/*-----Шапка закончена--------*/
/*Популярные категории*/
.choose-category {
	display: flex;
	max-width: 940px;
	margin-bottom: 51px;
}

.choose-category-box {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	margin-bottom: 54px;
}

.category-list {
	display: flex;
	justify-content: space-between;
	width: 940px;
}

.category-item {
	width: 300px;
	margin-top: 20px;
}
.first-card {
	position: relative;
	background-color: #ffbf47;
}
.two-card {
	position: relative;
	background-color: #3bbce3;
}
.two-card .choose-category-button {
	background-color: #35a9cc;
}

.two-card .choose-category-button:hover,
.two-card .choose-category-button:focus,
.tree-card .choose-category-button:hover,
.tree-card .choose-category-button:focus {
	background-color: #cccccc;
}

.two-card .choose-category-button:active,
.tree-card .choose-category-button:active {
	background-color: #b2b2b2;
}

.tree-card {
	position: relative;
	background-color: #dc91d8;
}
.tree-card .choose-category-button {
	background-color: #c682c2;
}
/*карточка поп. категорий декоратиные эл-ты*/
/*Первая карточка*/
.first-card-ico::after {
	content: "";
	position: absolute;
	top: 35px;
	right: 42px;
	width: 44px;
	height: 65px;
	background-image: url(../img/svg/materials-ico.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.new-flag::after{
	content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	width: 60px;
	height: 59px;
	background-image: url(../img/new-flag.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	z-index: 2;
}

/*Вторая карточка*/
.two-card-ico::after {
	content: "";
	position: absolute;
	top: 34px;
	right: 26px;
	width: 75px;
	height: 61px;
	background-image: url(../img/svg/instruments-ico.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

/*Третья карточка*/
.tree-card-ico::after {
	content: "";
	position: absolute;
	top: 31px;
	right: 30px;
	width: 78px;
	height: 62px;
	background-image: url(../img/svg/technics-ico.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

/*Вертикальные карточки*/
.category-list-second {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-self: flex-start;
}

.category-list-second li {
	margin-left: 20px;
}

.category-list-second li {
	margin-right: 0;
}

/*Четвёртая карточка*/
.four-card {
	position: relative;
	background-color: #8ed78f;
}

.four-card-ico a {
	background-color: #80c180;
	padding: 10px 23px;
}

.four-card-ico::before {
	content: "";
	position: absolute;
	top: 31px;
	right: 44px;
	width: 59px;
	height: 72px;
	background-image: url(../img/svg/sales-ico.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

/*Пятая карточка*/
.five-card {
	position: relative;
	background-color: #ffc047;
}

.five-card-ico::before {
	content: "";
	position: absolute;
	top: 33px;
	right: 31px;
	width: 78px;
	height: 63px;
	background-image: url(../img/svg/delivery-ico.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}


.gallery {
	display: flex;
	flex-direction: column;
	width: 620px;
	margin-top: 20px;
}

/*

/*Позиионирование элементов галереи*/
.gallery {
	position: relative;
}

.gallery-promo {
	list-style: none;
	margin: 0;
	padding: 0;
}

.gallery-promo li:nth-child(1) {
	width: 620px;
	height: 266px;
	background-image: url(../img/man-with-drill.jpg);
}

.gallery-promo li:nth-child(2) {
	width: 620px;
	height: 266px;
	background-image: url(../img/man-with-puncher.jpg);
}

.gallery-item-promo:nth-child(1) {
/*	display: none;*/
	display: block;
}

.gallery-item-promo:nth-child(2) {
/*	display: block;*/
	display: none;
}






.gallery-header-name {
	position: absolute;
	top: 26px;
	left: 24px;
	font-size: 36px;
	font-weight: bold;
	color: #fff;
}

.gallery-header-item {
	position: absolute;
	top: 67px;
	left: 24px;
	font-family: "PT sans", Arial, sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.drill-description {
	font-family: "Cuprum", Arial, sans-serif;
}

.gallery-category-button {
	position: absolute;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	padding: 12px 45px 12px 49px;
	left: 25px;
	bottom: 21px;
	background-color: #ee3643;
	border-radius: 3px;
	color: #fff;
}

.choose-category-btn {
	position: absolute;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	padding: 12px 45px 12px 49px;
	left: 25px;
	bottom: 21px;
	background-color: #ee3643;
	border-radius: 3px;
	color: #fff;
}

.choose-category-btn:hover,
.choose-category-btn:focus {
	background-color: #ca2c37;
}

.choose-category-btn:active {
	background-color: #ba2732;
}


.control-slider {
	position: absolute;
	left: 360px;
	bottom: 136px;
	z-index: 20;
}

.gallery-button-back {
	position: absolute;
	width: 22px;
	height: 40px;
	top: -150px;
	left: -289px;
}

.gallery-button-back path {
	background-color: rgba (255, 255, 255, 0);
}

.gallery-button-next {
	position: absolute;
	width: 22px;
	height: 40px;
	top: 30px;
	right: 30px;
}

.slider-arrows label:nth-child(1) {
	position: absolute;
	left: -338px;
	bottom: -33px;
	width: 56px;
	height: 56px;
	box-shadow: 5px 5px 0px 1px #fff;
	transform: rotate(-225deg) scale(0.5);
}

.slider-arrows label:nth-child(2) {
	position: absolute;
	left: 189px;
	bottom: -33px;
	width: 56px;
	height: 56px;
	box-shadow: 5px 5px 0px 1px #fff;
	transform: rotate(-45deg) scale(0.5);
}

.control-slider input[type=button] {
  display: none;
}

.control-slider input[type=radio] {
	display: none;
}

.slider-control label {
	border-radius: 50%;
	display: inline-block;
	width: 6px;
	height: 6px;
	margin: 13px 3px;
	cursor: pointer;
	border: 2px solid #ffffff;
	background-color: #ffffff;
	z-index: 100;
	position: relative;
	top: 107px;
	left: -64px;
	vertical-align: middle;
}

.slider-control label:nth-child(1) {
	background-color: #ef414d;
}

/*Управляющие элементы*/
/*/////////////////////////////////*/

/*Заголовок популярных товаров*/

/*Добавить отступы в контейнер*/
.popular-goods-button-link {
	padding: 10px 55px 10px 55px;
	margin: 0;
	border-radius: 3px;
	align-self: center;
	background-color: #ee3643;
}

.popular-goods-old-price {
	align-self: center;
	margin: 0;
	text-align: center;
	margin-bottom: 13px;
	order: 3;
}

.hidden-price {
	visibility: hidden;
}

.popular-goods-price {
	align-self: center;
	order: 4;
	margin-bottom: 11px;
}

.popular-goods-category {
	margin-left: 32px;
}

.popular-goods-model {
	margin-left: 71px;
}

.goods-item-image {
	margin-top: 0px;
	margin-bottom: -16px;
}

.popular-goods-price a {
	display: block;
	width: 140px;
	padding: 10px 30px;
	position: relative;
	margin: 0 auto 13px;
	background-color: #ee3643;
	box-sizing: border-box;
	border-radius: 3px 0px 0px 3px;
}

.popular-goods-price a::after {
	position: absolute;
  top: 0;
  right: -20px;
  content: '';
  display: block;
  width: 0px;
  min-height: 0px;
  border: 19px solid #ffffff;
  border-left-color: #ee3643;
}

/*-------------------------*/
/*Блок о компании*/
.company-contack-box {
	display: flex;
	justify-content: space-between;
	margin-bottom: 68px;
}

.company {
	display: flex;
	flex-direction: column;
}

.contact {
	display: flex;
	flex-direction: column;
}


/*------------------------------*/
/*Футер*/
.footer-nav,
.footer-category-nav,
.footer-address,
.footer-logo {
	margin: 0;
	padding: 0;
}

.footer-logo img {
	box-shadow: 0px 5px 0px 0px #b52933;
}

.footer-line-top {
	display: flex;
	width: 940px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.footer-line-middle {
	display: flex;
	width: 940px;
	margin: 0 auto;
	margin-bottom: 53px;
}

.footer-nav {
	display: flex;
	margin-top: 35px;
}

.footer-category-nav {
	display: flex;
}

.footer-nav li:not(:last-of-type):not(:first-of-type) {
	margin-left: 30px;
	margin-right: 30px;
}

.footer-nav li:first-child {
	margin-left: 173px;
	margin-right: 30px;
}
.footer-nav li:last-child {
	margin-left: 30px;
}

.footer-category-nav li:not(:last-of-type):not(:first-of-type) {
	margin-left: 30px;
	margin-right: 30px;
}

.footer-category-nav li:first-child {
	margin-right: 30px;
	margin-left: 91px;
}

/*Нижняя часть футера*/
.footer-social-box {
	display: flex;
	width: 940px;
	margin: 0 auto;
	padding-top: 39px;
	padding-bottom: 33px;
}

.social-button {
	margin-left: 161px;
	margin-right: 119px;
}

.footer-feedback {
	margin-right: 52px;
}

/*Сетка для страницы каталога*/
/*Поле логин*/


.user-navigation-box {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	width: 280px;
	margin: 0;
}

.user-navigation-catalog {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.user-name-login {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 299px;
	background-color: #fff;
	padding-left: 13px;
}

.user-name {
	color: #000;
	font-size: 21px;
	line-height: 21px;
	padding-left: 33px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.user-name:active {
	color: #cacaca;
}

.user-name svg {
	position: absolute;
	left: 13px;
	top: 13px;
}

.user-name:hover path {
	opacity: 1;
	fill: #32425c;
}

.user-name:active path {
	opacity: 0.3;
}

.user-logout svg {
	position: absolute;
	left: 268px;
	top: 14px;
}

.user-logout:hover path {
		opacity: 1;
		fill: #32425c;
}

.user-logout:active path {
	opacity: 0.3;
}

.user-link {
	align-items: flex-start;
}

.user-navigation-catalog {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	padding-right: 70px;
	margin: 0;
	margin-top: 6px;
} 

.user-link {
	position: relative;
	color: #32425c;
	font-size: 16px;
	line-height: 18px;
	text-decoration-line: underline;
	margin: 0px;
	padding: 0px;
}

.user-link:hover {
	color: #ee3643;
}

.user-link:active {
color: #cacaca;
}

.user-link-order {
	margin-right: 32px;
}

.user-link-order::after {
	position: absolute;
	content: "";
	width: 4px;
	height: 4px;
	top: 6px;
	left: 89px;
	border-radius: 50px;
	background-color: #32425c;
}










/*******************************/

.nav-middle-box {
	display: flex;
	align-items: center;
	padding-left: 190px;
}

.nav-middle-box h1 {
	font-size: 16px;
	font-style: italic;
	line-height: 23px;
	color: #ee3643;
}

.breadcrumbs {
	display: flex;
}

.filters-form {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}
/*Форма сортироки в каталоге*/
.main-form-box {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 220px;
	box-sizing: border-box;
}

.filters-form-title {
	margin: 0;
	padding: 12px 150px 12px 18px;
}

.label-form {
	margin: 0;
	padding-top: 15px;
	padding-bottom: 15px;
}

#filter-price {
	margin: 0;
	padding-top: 29px;
	padding-bottom: 29px;
	
}

.filter-price-box {
	position: relative;
	padding: 0;
	margin: 0;
	height: 80px;
	margin-bottom: 10px;
	padding-top: 39px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #f7f3ec;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.filter-price-box .scale {
	height: 2px;
	background: #d7dcde;
}

.filter-price-box .bar {
	width: 85%;
	height: 2px;
	background: #00ca74;
}

.filter-price-box .toggle {
	position: absolute;
	top: 30px;
	left: 0;
	width: 20px;
	height: 22px;
	padding: 0;
	background-image: url(../img/svg/filter-button.svg);
	cursor: pointer;
}

.filter-price-box .toggle-min {
	left: 20px;
}

.filter-price-box .toggle-max {
	left: 160px;
}

.main-form-input-box {
	display: flex;
	justify-content: space-between;
	margin-bottom: 26px;
}

.main-form-input-box label {
	padding: 0;
	margin: 0;
	font-size: 17px;
	text-transform: uppercase;

}

.main-form-input-box input {
	width: 95px;
	margin: 0;
	padding-top: 8px;
	padding-bottom: 9px;
	text-align: center; 
	border: none;
	background: #f7f3ec;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.dash {
	width: 10px;
	border-top: 1px solid black;
	margin-top: 18px;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 700px;
	margin-top: 0;
	margin-left: 20px;
	margin-bottom: 35px;
	padding: 0;
}

/*Фильтр производители*/
.filter-manufacturers-list {
	list-style: none;
}

.filter-manufacturers-list .filter-select {
	position: relative;
	margin: 0;
	padding: 0;
	padding-bottom: 20px;
	font-family: "PT sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 20px;
	color: #000;
	text-transform: uppercase;
	font-weight: 500;
}


.filter-checkbox:checked + label::before {
	content: "";
	position: absolute;
	left: -34px;
	top: -2px;
	width: 26px;
	height: 26px;
	background: url("../img/svg/checkbox-on.svg") no-repeat;
	opacity: 0.5;
}

.filter-checkbox + label::before {
	content: "";
	position: absolute;
	left: -34px;
	top: -2px;
	width: 24px;
	height: 24px;
	background: urL("../img/svg/checkbox-off.svg") no-repeat;
	opacity: 0.5;
}

.filter-checkbox + label:hover::before,
.filter-checkbox + label:focus::before{
	opacity: 1;
}

.filter-checkbox + label:active::before {
	opacity: 0.3;
}

.filters .filter-manufacturers-list {
	margin: 0;
	padding: 0;
	padding-left: 34px;
}

/*Фильтр питания*/
.power-supply .filter-select {
	position: relative;
	margin: 0;
	padding: 0;
	padding-bottom: 20px;
	font-family: "PT sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 20px;
	color: #000000;
	text-transform: uppercase;
	font-weight: 500;
}

/*Стилизация радибатонов*/
.filter-input + label::before{
	content: "";
	position: absolute;
	left: -35px;
	top: -3px;
	width: 26px;
	height: 26px;
	background: urL("../img/svg/radio-off.svg") no-repeat;
	opacity: 0.5;
}

.filter-input:checked + label::before {
	content: "";
	position: absolute;
	left: -35px;
	top: -3px;
	width: 26px;
	height: 26px;
	background: url("../img/svg/radio-on.svg") no-repeat;
	opacity: 0.5;
}

.filter-input + label:hover::before,
.filter-input + label:focus::before {
	opacity: 1;
}

.filter-input + label:active::before {
	opacity: 0.3;
}

.power-supply-list {
	list-style: none;
	padding: 0;
	margin: 0;
	padding-left: 34px;
	margin-bottom: 57px;
}

/*Кнопка на форме.*/
.btn-catalog {
	font-family: "PT sans", Arial, sans-serif;
	padding-top: 6px;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	background-color: #ffffff;
	color: #000000;
	text-align: center;
	border: 1px solid #e5e5e5;
	box-sizing: border-box;
}

.form-submit {
	display: block;
	width: 140px;
	height: 38px;
}

/*Форма сортировки по направлению*/
.filters-instrument {
	display: flex;
	justify-content: space-between;
	width: 700px;
	height: 38px;
	background-color: #f7f3ec;
	margin-bottom: 20px;
	margin-left: 20px;
}

.filters-instrument ul {
	position: relative;
	display: flex;
	width: 500px;
	align-items: center;
	margin: 0;
	padding: 0;
}

.filters-instrument li {
	margin-right: 10px;
	margin-left: 29px;
	padding-right: 22px;
	padding-left: 10px;
}

.direction-sort-current {
	color: #ee3643;
	border: none;
}

.filters-instrument .ascending-sort {
	position: absolute;
	right: 17px;
}

.filters-instrument .descending-sort {
	position: absolute;
	right: -15px;
}

.ascending-sort path,
.descending-sort path {
	fill: #c5c5c5;
}

.ascending-sort-on path {
	fill: #ee3643;
}



























.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;

